body{
	background-color: #f5f5f5;
	width: 100vw;
}
header{
	text-align: center;
}
.header{
	background-color: #011e29;
	color: white;
	height: 80px;
	text-align: center;
}
h1{
	padding-top: 20px;
}
.container{
	display: flex;
}
.latest-news-section{
	height: 150px;
	width: 200px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	margin: 8px;
}
.main-article-section{
	height: 250px;
	width: 300px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	margin: 8px;
}
.pictorial-news-section{
	height: 420px;
	width: 200px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}
img{
	width: 150px;
	height: 100px;
	padding: 10px;
}